Package: freeswitch-sounds-fr-fr-sibylle-48000
Source: freeswitch-sounds-fr-fr-sibylle
Version: 0.1.4-1
Architecture: all
Maintainer: Stephane Alnet (Packaging) <stephane@shimaore.net>
Installed-Size: 37566
Depends: freeswitch
Description: French language files for FreeSwitch
  This package contains the files as mono, 48kHz recordings.
