fr/fr/sibylle/
usr/share/
freeswitch-sounds-fr-fr-sibylle-16000-*.tar.gz
freeswitch-sounds-fr-fr-sibylle-32000-*.tar.gz
freeswitch-sounds-fr-fr-sibylle-48000-*.tar.gz
freeswitch-sounds-fr-fr-sibylle-8000-*.tar.gz
list.txt
*/16000/
*/32000/
*/48000/
*/8000/
old/
doc/
*/modes.txt
