Package: freeswitch-sounds-fr-fr-sibylle-8000
Source: freeswitch-sounds-fr-fr-sibylle
Version: 0.1.4-1
Architecture: all
Maintainer: Stephane Alnet (Packaging) <stephane@shimaore.net>
Installed-Size: 6390
Depends: freeswitch
Description: French language files for FreeSwitch
  This package contains the files as mono, 8kHz recordings.
